/.github export-ignore
/Tests export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
/CLAUDE.md export-ignore
/.gitattributes export-ignore
