includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
    level: 8
    paths:
        - Classes
        - ext_emconf.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # ext_emconf.php uses $_EXTKEY which is defined by TYPO3's extension loading
        -
            message: '#Variable \$_EXTKEY might not be defined#'
            path: ext_emconf.php
